<div class="super_container" style="margin-top: 200px;margin-bottom: 100px;">
    <div class="blog">
		<div class="container">
			<div class="row">

				<!-- Blog Content -->
				<div class="col-lg-8">
					<div class="blog_content">
						<div class="blog_title">{{event.name}}</div>
						<div class="blog_meta">
							<ul>
								<li>Post on <a href="#">{{event.date}}</a></li>
								<li>By <a href="#">admin</a></li>
							</ul>
						</div>
						<div class="blog_image"><img src="assets/images/blog_single.jpg" alt=""></div>
						<p>{{event.description}}</p>
						
					</div>
					
				</div>

		
			</div>
		</div>
	</div>

</div>